#header-image-menu {
  top: 10px;
  position: relative;
}
#header-image-menu img {
  width: 100%;
  margin: none;
  padding: none;
}
#image-text {
  /* text-shadow: 1px 1px 2px white, 0 0 1em whitesmoke, 0 0 0.2em whitesmoke; */
  position: absolute;
  top: 60%;
  left: 60%;
  font-family: "Roboto";
  color: #000;
  transform: translate(-30%, -30%);
  text-align: center;
}

#image-text {
  position: absolute;
  top: 10%;
  left: 45%;
  color: black;
}

#header-image-menu {
  top: 10px;
  position: relative;
}

#header-image-menu img {
  width: 100%;
  margin: none;
  padding: none;
}
div {
  text-align: center;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
/* @media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
} */

.column {
    float: left;
    width: 33.33%;
  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
  }

#btn2 button:hover{
    /* background-color: black; */
    background-color: gray;
}
/* .container {
    position: relative;
    
    margin: 0 auto; 
  }
  
  .container .content {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 98.2%; 
    padding: 20px; 
  }
  
  .container {
    position: relative;
  } */
  
  /* Bottom right text */
  
  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
  